*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
    .contenedor
    {
        width:100vw;
        height:100vh;
        background-color: gray;


        display: grid;
        grid-template-columns:auto auto auto;
        grid-template-rows:auto auto auto;

        justify-content: center;
        align-content: center;
   ;
    
    }
    .caja
    {
        background-color: yellowgreen;
        text-align: center;
        border: 1px solid red;
    }
    #caja1
    {
        font-weight: bold;
        
    }
    #caja2
    {
        font-weight: bold;
      
        
        
    }
    #caja3
    {
        font-weight: bold;
    }
    #caja4
    {
        font-weight: bold;
        
    }
    #caja7
    {
        font-weight: bold;
    }
    #caja10
    {
        font-weight: bold;
    }
    #caja13
    {
        font-weight: bold;
    }
    #caja16
    {
        font-weight: bold;
    }
    #caja19
    {
        font-weight: bold;
    }
   

    