*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    .contenedor
    {
        width:100vw;
        height:100vh;
        background-color: gray;


        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;

        justify-content: center;
        align-content: center;
   ;
    
    }
    .caja
    {
        background-color: yellowgreen;
        text-align: center;
        border: 1px solid red;
    }

    #caja1
    {
        /* grid-column-start: 1;
        grid-column-end: 3; */

        grid-column: 1 / span 3;
    }