<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Empleados</h1>
    <a href="nuevoEmpleado">Agregar</a>
    <table border = "1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Puesto</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for empleado in empleados %}
                <tr>
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.puesto}}</td>
                    <td><a href="detalleEmpleado/{{empleado.id}}">Detalle</a></td>
                    <td><a href="editarEmpleado/{{empleado.id}}">Editar</a></td>
                    <td><a href="eliminarEmpleado/{{empleado.id}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>